@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #f4af25;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221c10;
  --font-display: "Work Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
